* {
    margin: 0;
    padding: 0;
}

.additional-information {
    color: whitesmoke;
    margin-top: 20px;
    font-size: 18px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.additional-information-data {
    margin-top: 5px;
}

.additional-information-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.additional-information-item:first-of-type {
    margin-top: 20px;
}

.additional-information-item:last-of-type {
    margin-bottom: 20px;
}

body {
    background-color: rgb(111, 200, 230);
}

body, html {
    overscroll-behavior: none;
}

.city-name {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.current-conditions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-conditions-description {
    font-size: 20px;
}

.conditions-icon {
    height: 33px;
}

.current-conditions-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 16px;
}

.current-conditions-info-description {
    margin-left: 10px;
}

.current-date, .current-time {
    font-size: 18px;
}

.current-conditions-left-container {
    text-align: center;
}

.current-time {
    margin-bottom: 25px;
}

.current-temperature {
    font-size: 30px;
}

.daily-forecast {

}

.daily-forecast-container {
    margin-top: 25px;
    border: solid whitesmoke 3px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-icon {
    height: 40px;
    margin-left: 10px;
}

header {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    vertical-align: middle;
    padding: 7px;
}

.search-bar-container {
    margin-top: 10px;
    margin-bottom: 10px;

    min-width: 420px;
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    width: 100%;
    height: 35px;
    display: flex;
}

.submit-search {
    background-color: orange;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 16px;
    font-weight: bold;
    
    vertical-align: middle;
    height: 33px;
    width: 100px;
    cursor: pointer;
}

.today-high-low-temperature {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    width: 175px;
}

.title-logo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggle-button {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: bold;

    height: 33px;
    width: 100px;

    vertical-align: middle;
    border-radius: 5px;
}

@media only screen and (min-width: 900px) {
    header {
        height: 100px;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    .search-bar {
        flex: 1;
        width: 400px;
    }

    .search-bar-container {
        width: 550px;
    }

    .title-logo {
        margin-left: 25px;
    }

    .toggle-button {
        margin-right: 25px;
    }
}

@media only screen and (min-width: 800px) {
    .additional-information {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .additional-information-item {
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .daily-forecast {
        min-width: 150px;
    }

    .daily-forecast-container {
        height: 200px;
        overflow-y:unset;
        overflow-x: scroll;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .current-conditions-container {
        flex-direction: row;
        align-items: flex-start;
        margin-left: 25px;
        margin-right: 25px;
    }

    .current-conditions-left-container {
        margin-right: auto;
        text-align: left;
    }

    .current-conditions-right-container {
        margin-left: auto;
    }
}